.item {
    display: flex;
    flex-direction: row;
    margin: .5em;
    border-bottom: solid #eee 1px;
}

.item-name {
    width: 27em;
    text-align: left;
}

.item-quantity {
    width: 5em;
    text-align: right;
}