.newItem{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0 .5em .5em;
}

.newItem label{
    color: #fff;
    width: 10em;
    text-align: left;
    margin-bottom: .5em;
}
.newItem-name, .newItem-quantity{
    display: flex;
    flex-direction: column;
}
.newItem-name input{
    width: 37em;
}
.newItem-quantity{
    width: 4em;
}
.newItem-quantity input{
    width: 5em;
    text-align: right;
}

.newItem-actions{
    margin-top: .5em;
    width: 100%;
    text-align: right;
}

.newItem button{
    width: 5em;
}

